<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <import resource="Spring-DAO.xml"/>

    <bean id="userService" class="service.implementation.UserServiceImpl">
        <property name="dao" ref="userDAO"/>
    </bean>

    <bean id="newsService" class="service.implementation.NewsServiceImpl">
        <property name="dao" ref="newsDAO"/>
    </bean>

    <bean id="commentService" class="service.implementation.CommentServiceImpl">
        <property name="dao" ref="commentDAO"/>
    </bean>

    <bean id="relationService" class="service.implementation.RelationServiceImpl">
        <property name="dao" ref="relationDAO"/>
    </bean>

    <bean id="relationTypeService" class="service.implementation.RelationTypeServiceImpl">
        <property name="dao" ref="relationTypeDAO"/>
    </bean>

</beans>