<beans xmlns="http://www.springframework.org/schema/beans"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <import resource="Spring-DataSource.xml"/>

    <bean id="userDAO" class="dao.implementation.UserDAOImpl" >
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="newsDAO" class="dao.implementation.NewsDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="commentDAO" class="dao.implementation.CommentDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="relationDAO" class="dao.implementation.RelationDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="relationTypeDAO" class="dao.implementation.RelationTypeDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>